<H1>Formulário</H1>
<form action="/create" method="post">
    <input type="text" name="nome" placeholder="nome" autofocus>
    <input type="email" name="email" placeholder="email" autofocus>
    <input type="text" name="cidade" placeholder="cidade" autofocus>
    <input type="text" name="cpf" placeholder="cpf" autofocus>
    <button type="submit">Cadastrar</button>
</form>